<!-- 
  File: contact.ejs
  Author: Rodrigo Soto
  Student number: 301295478
  Date: 01-10-2023
 -->

<%- include('partials/header.ejs') %>

<%- include('partials/bootstrap.ejs') %>

<%- include('partials/navbar.ejs') %>

<body>

  <table id="welcomeBlock">
    <tr>
      <td id="mainInfoHome" valign="top">
        <h1 id="homeTitle"><%= title %></h1>
        <h2 id="profTitle">Thank you for your interest!</h2>
        <h3 id="smallDesc">Please feel free to send me a message.</h3>
      </td>
      <td valign ="bottom">
        <div id="information">
          <form>
              First name: <input type="text" name="fName" id="fName"><br>
              Last name: <input type="text" name="lName" id="lName"><br>
              Phone number: <input type="text" name="phone" id="phone" placeholder="Ex: (+1) 437 229 1234"><br>
              Email: <input type="text" name="email" id="email" placeholder="Ex: example@email.com"><br>
          </form>
        </div>
        <div id="information">
            Any Other Comments:<br>
            <form>
                <textarea name="lotsoftext" id="lotsoftext" rows="15" cols="50"></textarea>
                <br>
                <input type="submit" value="Finish" id="sbmtBtn"> 
                <input type="reset" id="resetBtn">
            </form>
        </div>
      </td>
    </tr>
  </table>
      

</body>

<%- include ('partials/footer.ejs') %>