<!-- 
  File: index.ejs
  Author: Rodrigo Soto
  Student number: 301295478
  Date: 01-10-2023
 -->

<%- include('partials/header.ejs') %>

<%- include('partials/bootstrap.ejs') %>

<%- include('partials/navbar.ejs') %>

<body>

  <table id="welcomeBlock">
    <tr>
      <td id="mainInfoHome" valign="top">
        <h1 id="homeTitle"><%= title %></h1>
        <h2 id="profTitle">Mechatronics Engineer</h2>
        <h3 id="smallDesc">Recent graduate in Mechatronics Engineering eager to apply academic knowledge and learnings to contribute as a valuable team member.</h3>
      </td>
      <td valign ="top">
        <p id="homeWelcomeMsg">As a recent graduate in <b>Mechatronics Engineering</b>, I am excited to embark on a career path that allows me to apply the comprehensive knowledge and skills acquired during my academic journey. <br> <br>While I may not have direct professional experience, my academic coursework has equipped me with a solid foundation in <b>mechanical, electronic, and computer engineering</b>, enabling me to understand and work with complex systems and automation technologies. <br><br>My ability to grasp intricate engineering concepts, coupled with a strong work ethic and dedication to continuous learning, positions me as a <b>motivated and adaptable candidate</b> ready to contribute effectively to a dynamic engineering team. I am committed to taking on challenges, embracing new technologies, and rapidly evolving into a capable Mechatronics Engineer in a professional setting.</p>
        <a href="about" id="aboutBtn">About me</a>
      </td>
    </tr>
  </table>




</body>

<%- include ('partials/footer.ejs') %>