<!-- 
  File: projects.ejs
  Author: Rodrigo Soto
  Student number: 301295478
  Date: 01-10-2023
 -->


<%- include('partials/header.ejs') %>

<%- include('partials/bootstrap.ejs') %>

<%- include('partials/navbar.ejs') %>

<body>

  <h1 id="projectsTitle"><%= title %></h1>

  <table class="center" style="width: 90%;">
    <tr>
      <th id="projectHeaders">
        Year
      </th>
      <th id="projectHeaders">
        Project
      </th>
      <th id="projectHeaders">
        Made at
      </th>
      <th id="projectHeaders">
        Technologies
      </th>
      <th id="projectHeaders">
        Link
      </th>
    </tr>
    <tr id="projBlock">
      <td id="projectInfo">
        2023
      </td>
      <td id="projectInfo">
        <b><%= asset1 %></b>
      </td>
      <td id="projectInfo">
        Centennial College
      </td>
      <td id="projectInfo">
        <p id="techItem">HTML5</p>
        <p id="techItem">Javascript</p>
        <p id="techItem">CSS</p>
      </td>
      <td id="projectInfo">
        <a href="http://studentweb.cencol.ca/rsotoacu/finalProject/index.html"><img src="/img/proj1Thumbnail.png" alt="Real State Link" id="projLinkImg"></a>
      </td>
    </tr>
    <tr id="projBlock">
      <td id="projectInfo">
        2023
      </td>
      <td id="projectInfo">
        <b><%= asset2 %></b>
      </td>
      <td id="projectInfo">
        Centennial College
      </td>
      <td id="projectInfo">
        <p id="techItem">HTML5</p>
        <p id="techItem">Javascript</p>
        <p id="techItem">CSS</p>
      </td>
      <td id="projectInfo">
        <a href="http://studentweb.cencol.ca/rsotoacu/COMP125/assignment%203/index.html"><img src="/img/proj2Thumbnail.png" alt="Bug Smasher link" id="projLinkImg"></a>
      </td>
    </tr>
    <tr id="projBlock">
      <td id="projectInfo">
        2023
      </td>
      <td id="projectInfo">
        <b><%= asset3 %></b>
      </td>
      <td id="projectInfo">
        Centennial College
      </td>
      <td id="projectInfo">
        <p id="techItem">HTML5</p>
        <p id="techItem">CSS</p>
      </td>
      <td id="projectInfo">
        <a href="http://studentweb.cencol.ca/rsotoacu/assignment3/index.html"><img src="/img/proj3Thumbnail.png" alt="Bike Store link" id="projLinkImg"></a>
      </td>
    </tr>
  </table>


</body>

<%- include ('partials/footer.ejs') %>