<!-- 
  File: services.ejs
  Author: Rodrigo Soto
  Student number: 301295478
  Date: 01-10-2023
 -->


<%- include('partials/header.ejs') %>

<%- include('partials/bootstrap.ejs') %>

<%- include('partials/navbar.ejs') %>

<body>

  <h1 id="projectsTitle"><%= title %></h1>

  <table class="center" style="width: 100%;">
    <tr style="background-color: #f8d47a27;">  
      <td colspan="2" id="assetService">Software</td>
    </tr>
    <tr>
      <td id="serviceNameL">
        Web development
      </td>
      <td >
        <img src="/img/serv1Icon.jpg" alt="Web development" id="serviceIcon">
      </td>
    </tr>
    <tr>
      <td>
        <img src="/img/serv3Icon.jpg" alt="UX Design" id="serviceIcon">
      </td>
      <td id="serviceNameR">
        UX design
      </td>
    </tr>
    <tr>
      <td id="serviceNameL">
        General programming
      </td>
      <td>
        <img src="/img/serv2Icon.jpg" alt="General Programming" id="serviceIcon">
      </td>
    </tr>
  </table>

  <table class="center" style="width: 100%;">
    <tr style="background-color: #f8d47a27;">  
      <td colspan="2" id="assetService">Mechanical</td>
    </tr>
    <tr>
      <td id="serviceNameL">
        Mechanical design
      </td>
      <td >
        <img src="/img/serv4Icon.jpg" alt="Web development" id="serviceIcon">
      </td>
    </tr>
    <tr>
      <td>
        <img src="/img/serv5Icon.jpg" alt="UX Design" id="serviceIcon">
      </td>
      <td id="serviceNameR">
        CAD modeling
      </td>
    </tr>
    <tr>
      <td id="serviceNameL">
        Mechanical simulation
      </td>
      <td>
        <img src="/img/serv6Icon.jpg" alt="General Programming" id="serviceIcon">
      </td>
    </tr>
  </table>

  <table class="center" style="width: 100%;">
    <tr style="background-color: #f8d47a27;">  
      <td colspan="2" id="assetService">Electical</td>
    </tr>
    <tr>
      <td id="serviceNameL">
        PCB design
      </td>
      <td >
        <img src="/img/serv7Icon.jpg" alt="Web development" id="serviceIcon">
      </td>
    </tr>
    <tr>
      <td>
        <img src="/img/serv8Icon.jpg" alt="UX Design" id="serviceIcon">
      </td>
      <td id="serviceNameR">
        Electrical simulation
      </td>
    </tr>
    <tr>
      <td id="serviceNameL">
        General circuit design
      </td>
      <td>
        <img src="/img/serv9Icon.jpg" alt="General Programming" id="serviceIcon">
      </td>
    </tr>
  </table>
</body>

<%- include ('partials/footer.ejs') %>